COREPOST_ADMIN_TOKEN=change-me-corepost-admin
COREPOST_DB_PATH=./data/corepost.db
COREPOST_DATA_DIR=./data
COREPOST_PORT=8000
COREPOST_SERVER_PORT=8000
COREPOST_CONTAINER_NAME=corepost-server
COREPOST_LOG_LEVEL=info
COREPOST_HEALTHCHECK_HOST=localhost
COREPOST_HEALTHCHECK_PATH=/healthz
COREPOST_OPENAPI_PATH=/openapi.json
COREPOST_REQUIRE_REGISTRATION_APPROVAL=false
COREPOST_REQUIRE_HWID=false
COREPOST_REQUIRE_LOCK_CONFIRMATION=true
COREPOST_LOCK_CONFIRMATION_WINDOW_SECONDS=30
COREPOST_HMAC_WINDOW_SECONDS=5
COREPOST_HEARTBEAT_INTERVAL_SECONDS=5
COREPOST_AGENT_ACTION_WHEN_LOCKED=shutdown
COREPOST_AGENT_ACTION_WHEN_RESTRICTED=lock_session
